
DROP TABLE IF EXISTS `Customer`;
CREATE TABLE IF NOT EXISTS `Customer` (
	`timestamp` timestamp NOT NULL,
	`No.` varchar(20) NOT NULL,
	`Name` varchar(100) NOT NULL,
	`Search Name` varchar(100) NOT NULL,
	`Name 2` varchar(50) NOT NULL,
	`Address` varchar(100) NOT NULL,
	`Address 2` varchar(50) NOT NULL,
	`City` varchar(30) NOT NULL,
	`Contact` varchar(100) NOT NULL,
	`Phone No.` varchar(30) NOT NULL,
	`Telex No.` varchar(20) NOT NULL,
	`Document Sending Profile` varchar(20) NOT NULL,
	`Ship-to Code` varchar(10) NOT NULL,
	`Our Account No.` varchar(20) NOT NULL,
	`Territory Code` varchar(10) NOT NULL,
	`Global Dimension 1 Code` varchar(20) NOT NULL,
	`Global Dimension 2 Code` varchar(20) NOT NULL,
	`Chain Name` varchar(10) NOT NULL,
	`Budgeted Amount` decimal(38, 20) NOT NULL,
	`Credit Limit (LCY)` decimal(38, 20) NOT NULL,
	`Customer Posting Group` varchar(20) NOT NULL,
	`Currency Code` varchar(10) NOT NULL,
	`Customer Price Group` varchar(10) NOT NULL,
	`Language Code` varchar(10) NOT NULL,
	`Registration Number` varchar(50) NOT NULL,
	`Statistics Group` int NOT NULL,
	`Payment Terms Code` varchar(10) NOT NULL,
	`Fin. Charge Terms Code` varchar(10) NOT NULL,
	`Salesperson Code` varchar(20) NOT NULL,
	`Shipment Method Code` varchar(10) NOT NULL,
	`Shipping Agent Code` varchar(10) NOT NULL,
	`Place of Export` varchar(20) NOT NULL,
	`Invoice Disc. Code` varchar(20) NOT NULL,
	`Customer Disc. Group` varchar(20) NOT NULL,
	`Country.Region Code` varchar(10) NOT NULL,
	`Collection Method` varchar(20) NOT NULL,
	`Amount` decimal(38, 20) NOT NULL,
	`Blocked` int NOT NULL,
	`Invoice Copies` int NOT NULL,
	`Last Statement No.` int NOT NULL,
	`Print Statements` tinyint NOT NULL,
	`Bill-to Customer No.` varchar(20) NOT NULL,
	`Priority` int NOT NULL,
	`Payment Method Code` varchar(10) NOT NULL,
	`Last Modified Date Time` datetime NOT NULL,
	`Last Date Modified` datetime NOT NULL,
	`Application Method` int NOT NULL,
	`Prices Including VAT` tinyint NOT NULL,
	`Location Code` varchar(10) NOT NULL,
	`Fax No.` varchar(30) NOT NULL,
	`Telex Answer Back` varchar(20) NOT NULL,
	`VAT Registration No.` varchar(20) NOT NULL,
	`Combine Shipments` tinyint NOT NULL,
	`Gen. Bus. Posting Group` varchar(20) NOT NULL,
	`Picture` BLOB NULL,
	`GLN` varchar(13) NOT NULL,
	`Post Code` varchar(20) NOT NULL,
	`County` varchar(30) NOT NULL,
	`EORI Number` varchar(40) NOT NULL,
	`Use GLN in Electronic Document` tinyint NOT NULL,
	`E-Mail` varchar(80) NOT NULL,
	`Home Page` varchar(80) NOT NULL,
	`Reminder Terms Code` varchar(10) NOT NULL,
	`No. Series` varchar(20) NOT NULL,
	`Tax Area Code` varchar(20) NOT NULL,
	`Tax Liable` tinyint NOT NULL,
	`VAT Bus. Posting Group` varchar(20) NOT NULL,
	`Reserve` int NOT NULL,
	`Block Payment Tolerance` tinyint NOT NULL,
	`IC Partner Code` varchar(20) NOT NULL,
	`Prepayment .`  decimal(38, 20) NOT NULL,
	`Partner Type` int NOT NULL,
	`Intrastat Partner Type` int NOT NULL,
	`Image` varchar(64) NOT NULL,
	`Privacy Blocked` tinyint NOT NULL,
	`Disable Search by Name` tinyint NOT NULL,
	`Preferred Bank Account Code` varchar(20) NOT NULL,
	`Coupled to CRM` tinyint NOT NULL,
	`Cash Flow Payment Terms Code` varchar(10) NOT NULL,
	`Primary Contact No.` varchar(20) NOT NULL,
	`Contact Type` int NOT NULL,
	`Mobile Phone No.` varchar(30) NOT NULL,
	`Responsibility Center` varchar(10) NOT NULL,
	`Shipping Advice` int NOT NULL,
	`Shipping Time` varchar(32) NOT NULL,
	`Shipping Agent Service Code` varchar(10) NOT NULL,
	`Service Zone Code` varchar(10) NOT NULL,
	`Price Calculation Method` int NOT NULL,
	`Allow Line Disc.` tinyint NOT NULL,
	`BaPayment Method Id` varchar(64) NOT NULL,
	`Tax Area ID` varchar(64) NOT NULL,
	`Contact ID` varchar(64) NOT NULL,
	`Contact Graph Id` varchar(250) NOT NULL,
	`$ systemId` varchar(64) NOT NULL,
	`$ systemCreatedAt` datetime NOT NULL,
	`$ systemCreatedBy` varchar(64) NOT NULL,
	`$ systemModifiedAt` datetime NOT NULL,
	`$ systemModifiedBy` varchar(64) NOT NULL
);